.box {
	width: 280px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.box h1 {
	font-size: 40px;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom: 6px solid #9582e0;
	margin-bottom: 50px;
	padding-bottom: 20px;
}

.textbox {
	width: 100%;
	font-size: 20px;
	border-bottom: 2px solid #9582e0;
	padding: 8px 0;
	margin: 8px 0;
}

.textbox input {
	outline: none;
	border: none;
	font-size: 18px;
}

.btn {
	width: 100%;
	background: #9582e0;
	border: 2px solid #9582e0;
	padding: 5px 0;
	margin: 30px 0;
	color: white;
	font-size: larger;
}

.message {
	margin-bottom: 100px;
}
