.body {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}
.title-div {
  height: 70vh;
  width: 40%;
  background: #e4e7ff;
  padding: 5vh;
}
.title-svg {
  justify-content: center;
  background: #afb8f5;
  width: 25vh;
  height: 25vh;
  margin: auto;
  border-radius: 50%;
  margin-top: 10vh;
  text-align: center;
}
.add-image {
  color: #3545ee;
  font-weight: 600;
  margin: auto;
  width: 70%;
  padding-top: 43%;
  height: 30%;
}
.add-image-text {
  background: #e4e7ff;
  border-radius: 20px;
}
.title-header {
  font-size: 3.5vh;
  font-weight: 600;
  margin-top: 5vh;
  color: #3545ee;
}
.title-subtext {
  font-weight: 400;
  font-size: 2.25vh;
}
.form-div {
  height: 70vh;
  width: 60%;
  padding: 2vh;
}
.form-header {
  width: 40%;
  margin-left: 30%;
  font-weight: 600;
  color: #3545ee;
  border-bottom: 5px solid #e4e7ff;
}
.form-field-header {
  margin-top: 5vh;
  font-size: 3vh;
  font-weight: 400;
}
.form-button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  border: none;
  background: #e4e7ff;
  color: rgb(158, 157, 157);
  width: 40%;
  margin-top: 7vh;
  font-size: 2.75vh;
  padding: 2vh;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.form-button:hover {
  border: none;
  outline: none;
  color: white;
  background: #3545ee;
}
.event-name {
  width: 50%;
  height: 20%;
  margin-top: 1.5vh;
  transition: 0.3s ease-in-out;
}
.event-name:hover {
  width: 70%;
  box-shadow: 0px 0px 15px rgb(216, 216, 216);
}
.event-name::placeholder {
  color: rgb(175, 174, 174);
}
.event-name::placeholder:focus {
  font-size: 1vh;
}
.event-name {
  margin-top: 8vh;
  font-size: 3.5vh;
  background: #f8f8f8;
  border: none;
  border-radius: 10px;
  padding: 2vh;
  outline: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
table {
  width: 90%;
}
