.style1 {
  opacity: 0.9;
  font-weight: 800;
  color: black;
  font-size: 3vh;
  margin-top: 3vh;
  color: #3454ee;
}

.color1{
    color: #3454ee;
}

.align1{
    width: 80%;
    margin: auto;
    margin-top: 10vh;
}