.style1 {
  opacity: 0.9;
  font-weight: 800;
  color: black;
  font-size: 3vh;
  margin-top: 3vh;
  color: #3454ee;
}

.color1 {
  color: #3454ee;
}

.align1 {
  width: 80%;
  margin: auto;
  margin-top: 10vh;
}

.textBox {
  background: rgba(245,239,239,1);
  border-radius: 5vh;
  padding: 5vh;
}

.textBox h1,
h2 {
  text-align: center;
  font-weight: 300;
  /* color: #4D69F0; */
}

textarea {
  border: none;
  align-self: center;
  resize: none;
  font-size: 20px;
  font-weight: 200;
  border-radius: 3vh;
  padding: 2vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

textarea.tbox{
  min-height: 5vh;
  max-height: 20vh;
  height: auto;
  display: inline-block; 
  overflow: hidden; 
  resize: none; 
}

textarea:focus,
input:focus,
select:focus {
  outline: 0;
}

select{
  border: none;
  border-radius: 10px;
  padding: 1vh 3vh;
  position: relative;
  display: inline-block;
  width: 20vh;
  justify-content: center;
  margin: 0 auto;
  font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
  font-size: 18px;
  color: #60666d;
}

.tab1 {
  display: inline-block;
  margin-left: 10px;
}

.tab {
  display: inline-block;
  margin-left: 40px;
}

.tab2 {
  display: inline-block;
  margin-left: 60px;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 30%;
  height: 5vh;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  background: rgba(245,239,239,1);
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 10vh;
}
.headering {
  margin-top: -3vh;
  color: #4e89ae;
  font-size: 8vh;
  font-family: "Heebo", sans-serif;
  letter-spacing: -0.4vh;
  text-align: center;
  padding: -5vh;
}
.title {
  font-size: 5vh;
  font-weight: bold;
}
.content {
  font-size: 3vh;
  font-weight: 300;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 4vh;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #27d63e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #27d63e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.hey {
  font-size: 3.5vh;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}
f
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.contenty {
  display: inline-block;
}

.share {
  width: 280px;
  height: 80px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 1.8s ease;
  border: 2px solid #fff;
  font-size: 24px;
}

.share:hover {
  transform: scale(1.1);
}

span.a {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #111;
  text-align: center;
  line-height: 80px;
  z-index: 999;
  transition: 0.6s linear;
  border-radius: 40px;
}

.share:hover span {
  transform: translateX(-100%);
  transition-delay: 0.2s;
}

.share a {
  flex: 1;
  font-size: 26px;
  color: #fff;
  text-align: center;
  transform: translateX(-100%);
  opacity: 0;
  transition: 0.2s linear;
}

.share:hover a {
  opacity: 1;
  transform: translateX(0);
}

a:nth-of-type(1) {
  transition-delay: 1s;
}

a:nth-of-type(2) {
  transition-delay: 0.8s;
}

a:nth-of-type(3) {
  transition-delay: 0.6s;
}

a:nth-of-type(4) {
  transition-delay: 0.4s;
}

.fa-linkedin {
  transition: 0.3s ease-in;
}

.fa-linkedin:hover {
  color: #0e76a8;
  transform: scale(1.5);
}

.fa-github {
  transition: 0.3s ease-in;
}

.fa-github:hover {
  color: #757575;
  transform: scale(1.5);
}

.fa-instagram {
  transition: 0.3s ease-in;
}

.fa-instagram:hover {
  color: #405de6;
  transform: scale(1.5);
}

.fa-twitter {
  transition: 0.3s ease-in;
}

.fa-twitter:hover {
  color: rgb(86, 88, 233);
  transform: scale(1.5);
}

.margin {
  margin: 4vh;
}
.qrs{
  display: inline-block;
  padding: 3vh;
  width: 50%;
  border-radius: 20px;
  background: linear-gradient(to bottom, rgba(0,0,0,.1), rgba(0,0,0,.1));
}
.App{
  display: inline-block;
}

.colour{
  width: 50%;
  padding: 3vh;
  border-radius: 2vh;
}
