.header{
    display: flex;
    flex-flow: row;
    font-family: 'Poppins', sans-serif;
    margin: auto;
    width: 70%;
    height: auto;
    padding: 3vh;
    margin-top: 5vh;
    background: #E4E7FF;
    justify-content: space-around;
    text-align: center;
    line-height: 1.7;
}
.bodyheader{
    font-size: 4vh;
    width: 100%;
    margin: auto;
    font-weight: 600;
}
.bodysubtext{
    width: 100%;
    font-size: 2.5vh;
}
