body {
	font-family: 'Poppins', sans-serif;
}
.navbar {
	width: 100vw;
	display: flex;
	justify-content: space-around;
	height: 10vh;
	padding: 4vh;
}
ul {
	list-style: none;
	margin: auto;
}
.navitem {
	display: inline;
	margin:auto;
	margin-left: 5vh;
	font-weight: 500;
	color: #3545ee;
	padding: 1.75vh;
}
.navitem:hover {
	background: #e4e7ff;
}
.navlogo {
	margin: auto;
	font-size: 1.5em;
	font-weight: 600;
}

.navLink {
	text-decoration: none;
	color:#3545ee;
}
